@import "~bootstrap/scss/bootstrap";
@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "~slick-carousel/slick/slick.css";
@import "react-toastify/dist/ReactToastify.css";
@import "../../public/assets/fonts/satoshi/css/satoshi.css";
@import "../../public/assets/fonts/clash-display/css/clash-display.css";
@import "../../public/assets/fonts/magnita/magnita.css";
@import "../../public/assets/fonts/bootstrap-icons/font.css";
@import "../../public/assets/fonts/bootstrap-icons/font.css";
@import "../../public/assets/scss/style.scss";

.fixed-sidebar {
  position: fixed;
  top: 100px;
  transition: all 0.3s ease;
}

/* Add media query for responsive behavior */
@media (max-width: 991px) {
  .fixed-sidebar {
    position: static;
  }
}
/* Add media query for responsive behavior */
